.portfolio-introduction-p{
    text-indent: 2rem;
}

.entire-column-container{
}
.column-container-50{
    width: 50%;
    float: left;
}
.column-container-50 img{
    display: block;
}
.project-block{
    position: relative;
    top: 0;
    left: 0;
}
.project-block a{
    display: block;
    width: 100%;
    height: auto;
}
.project-block a:hover img.main{
    transform: scale(0.98);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    transition: all 250ms ease-in-out;
}
.project-block a:hover img.hover-tag-btmleft{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.project-block a:hover img.hover-tag-upleft{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.project-block a:hover img.hover-tag-upright{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.project-block a:hover img.hover-tag-btmright{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
img.hover-tag-btmleft{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: left bottom;
    opacity: 0;
}
img.hover-tag-upleft{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: left top;
    opacity: 0;
}
img.hover-tag-upright{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(.5);
    transform-origin: right top;
    opacity: 0;
}
img.hover-tag-btmright{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(.5);
    transform-origin: right bottom;
    opacity: 0;
}

/*--PORTFOLIO PAGE under 520 PX --*/

@media screen and (max-width: 780px) {
    
    .portfolio-introduction-p{
        text-indent: 0;
        text-align: center;
    }
    
    body.portfolio .page-section-60{
        padding-top: 40px;   
    }
    img.hover-tag-btmleft{
        opacity: 1;
    }
    img.hover-tag-upleft{
        opacity: 1;
    }
    img.hover-tag-upright{
        opacity: 1;
    }
    img.hover-tag-btmright{
        opacity: 1;
    }
}
@media screen and (max-width: 450px) {
    .column-container-50{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 370px) {
    .portfolio-introduction-p{
        text-indent: 0;
        text-align: center;
    }
    
    body.portfolio .page-section-60{
        padding-top: 20px;   
    }
    
}