.modal{
    opacity: 0;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255, 0.95); 
    transition: all 300ms ease-out;
    visibility: hidden;
    transform: scale(1.2);
    transition: all 300ms ease-out;
}
.modal--is-visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 300ms ease-out;
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #bbb;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.close:hover{
    color: black;
}


*{
    box-sizing: border-box;
}

.modal-description{
    margin-top: 55px;
}
.modal-description,
.modal-description-detail{
    max-width: 595px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
}
.modal-description-detail{
    padding-left: 20px;
    margin-top: 15px;
    display: none;
}
.modal-description-detail a{
    text-decoration: none;
    color: blue;
}
.modal-header{
    font-family: 'futura_md_btmedium_italic';
    font-size: 0.875rem;
}


.slideshow-container{
    max-width: 700px;
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 45px;
}
.slides-description span{
    padding-right: 12px;
    font-weight: bold;
}
.slides-images {
    border: 1px solid #bbb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    width: 85%;
    max-width: 700px;
}
.slides-images-no-border {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    width: 85%;
    max-width: 700px;
}

.active-slide {
    display: block;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
    background-color: rgba(187,187,187,0.8);
    color: white;
}
.text {
  color: black;
  font-size: 0.85rem;
    float: left;
    text-align: center;

}

/* Number text (1/2 etc) */
.numbertext {
    color: black;
    font-size: 0.85rem;
    float: left;
    padding-right: 33px;
    font-weight: bold;
}

/* -- -- */

.modal-column-1{
    float: left;
    width: 10px;
    margin-right: 10px;
}

.modal-column-1:hover{
    cursor: pointer;
}
.modal-column-2{
    float: left;
    width: 260px;
}
.modal-column-3{
    float: right;    
}




@media screen and (max-width: 660px) {
    .modal-column-2{
        width: 350px;
    }
    
    .modal-column-3{
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }
    .numbertext{
        padding-right: 5px;
        float: left;
    }
    .text{
        float: none;
        font-size: 0.8rem;
        text-align: center;
    }
    .slideshow-container{
        margin-top: 25px;
    }
    .slides-description span{
    padding-right: 5px;
    }
    
}
@media screen and (max-width: 485px) {
    .prev,
    .next{
    padding: 5px;
    }
}

@media screen and (max-width: 435px) {
    .modal-column-2{
        width: 320px;
    }
}

@media screen and (max-width: 405px) {
    .modal-column-2{
        width: 250px;
    }
}