.toggle-btn-open,
.toggle-btn-ecobridge-open,
.toggle-btn-shokugei-open,
.toggle-btn-pratt-open,
.toggle-btn-designer-open,
.toggle-btn-surveyor-open,
.toggle-btn-carpenter-open{
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.toggle-btn,
.toggle-btn-ecobridge,
.toggle-btn-shokugei,
.toggle-btn-pratt,
.toggle-btn-designer,
.toggle-btn-surveyor,
.toggle-btn-carpenter{
    transition: all 300ms ease-in-out;
}


/* Reveal and Hide Styles in About Page - index.html */


.toggle-btn-about-open{
    transform: rotate(90deg);
    transform-origin: 20%;
    transition: all 300ms ease-in-out;
}
.toggle-btn-about{
    transition: all 300ms ease-in-out;
}

.toggle-btn-about-text{
    display: inline-block;
}
.toggle-btn-about-text:hover{
    cursor: pointer;
}
.toggle-btn-about-text-hidden{
    display: none;
}
.toggle-btn-about-text-2-hidden{
    display: none;
}
.toggle-btn-about-text-2{
    display: inline-block;
}
.toggle-btn-about-text-2:hover{
    cursor: pointer;
}