.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 18px;
    padding-right: 18px;
}
.wrapper--830{
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
}
.wrapper--780{
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
}
.wrapper--726{
    margin-left: auto;
    margin-right: auto;
    max-width: 726px;
}
.wrapper--600{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.wrapper--565{
    max-width: 565px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--565--currently{
    max-width: 565px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--557{
    max-width: 557px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--557-resume-center-designer{
    width: 100%;
    position: absolute;
    top: -30px;
}
.wrapper--557-resume-center-surveyor,
.wrapper--557-resume-center-carpenter{
    width: 100%;
    position: absolute;
    top: -40px;
}
.wrapper--557-resume{
    position: relative;
    max-width: 557px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--549{
    max-width: 549px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--468{
    max-width: 468px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}